spring:
  datasource:
    url: jdbc:h2:mem:content;NON_KEYWORDS=USER
    username: content
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    defer-datasource-initialization: true
    database-platform: H2
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  data:
    redis:
      host: localhost
      port: 6379
    elasticsearch:
      host: 127.0.0.1
      port: 9200
      indices:
        contentsIndexName: contents
        testIndexName: tests
